* {
	font-family: Verdana;
}

.container{
	background: transparent url('../images/login_background.png');
	width:400px;
	height:687px;
	margin:0 auto;
}

.head{
    width: 100%;
    height:60px;
    text-align: center;
    line-height: 60px;
    color: white;
    /*font-weight: bold;*/
    font-size: 120%;
    /*background:red;*/
}

.menu-go {
	background: transparent url('../images/menu_go.png') no-repeat;
}

.icon {
	background: transparent url('../images/icon0.png') no-repeat;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.empty-box{
	width: 70px;
	height:100%;
	/*background:blue;*/
	color: #b7b7b7;
	text-align: center;
}

.home-logo{
	background: transparent url('../images/home_logo.png') no-repeat;
}

.logo{
	width: 360px;
	height: 100px;
	margin: 0 auto;
	margin-left: 30px;
}

.body{
	max-width: 400px;
	height:500px;
	width: 360px;
	margin: 0 auto;
	margin-top: 10px;
	border: 0;
	background:#E5E5E5;
	position: relative;
}

.color-select {
	background-color: #a9a9a9;
}


.tabs {
	width: 50%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	float: left;
}

.body-select {
	width: 100%;
	height: 450px;
}

.info-left {
	width: 75%;
	height:85px;
	/*background-color: red;*/
	line-height: 28px;
}

.info-right {
	width: 25%;
	height: 85px;
	/*background-color: blue;*/
}

.investment-btn{
	width: 80%;
	height: 50%;
	text-align: center;
	color: #FFF;
	font-size: 120%;
	background: #dfa14e;
	margin-left: 10px;
	margin-top:19px;
	line-height: 42px;
}	
.investment-btn:active{
	background: #67ac32;
}

.dot-line{
	width: 100%;
	border: 1px dashed #b7b7b7;
}
